.form {
  margin-top: 34px;

  .form__btn {
    max-width: 395px;
    margin-top: 64px;
  }

  .form__item {
    position: relative;
  }

  .form__item:nth-child(2){
    margin-top: 22px;
  }
}

.error {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  min-height: 75px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px 2px rgba(#ff8484, 0.2);
  margin-top: 10px;
  padding-bottom: 20px;

  .error__list {
    margin: 0;
  }

  .error__title {
    font-size: 16px;
    font-family: 'Roboto Medium';
    color: #ff8484;
  }

  .error__item {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto';
    color: #ff8484;
    margin-top: 5px;
  }
}

.success {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  min-height: 75px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px 2px rgba(#5bd46d, 0.2);
  margin-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .success__title {
    font-size: 16px;
    font-family: 'Roboto Medium';
    color: #5bd46d;
  }
}